<div class="col-xs-6 col-sm-4">
    <h3>{{name}}</h3>
    <hr/>
        <div class="list-group">
            {% for key,values in data.items %}
            <a id='{{name}}{{key}}' class="list-group-item clearfix"  title="Matching {{name}} {{key}}" data-toggle="{{name}}-toggle" data-placement="bottom" >
                <span class="pull-left">{{key}}</span>
                {% if values|length > 0 %}
                <span class="badge">{{values | length }}</span>
                {% endif %}
            </a>
            <div id='{{name}}{{key}}-popover' style="display: none;">
                <div style="max-height : 300px; overflow-y :auto;">
                     {% for value in values %}
                    <a href="{{value.get_absolute_url}}"><h5>{{value}}</h5></a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
</div>

