{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}{{chip.get_id}} Details{% endblock %}

{% block body %}
<div class="container detail-container">
    <table class="table-condensed">
            <br>
            <tr>
                <th id="thid">Name:</th>
                <td id="tdid" class="notes">{{chip.get_id}}</td>
            </tr>
            <tr>
                <th id="thid">Lab Name:</th>
                <td id="tdid" class="notes">{{chip.lab_name}}</td>
            </tr>
            <tr>
                <th id="thid">Number of Libraries:</th>
                <td id="tdid" class="notes">{{ chip.tenxlibrary_set.all.count }}</td>
            </tr>
    </table>
    <br>
</div>

<div class="container detail-bordered-container">
    <div class="table">
        <table class="table">
            {% if chip.tenxlibrary_set.all %}
                <thead>
                    <tr>
                        <th><h4>TENX Library Information</h4></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Library ID</th>
                        <th>JIRA Ticket</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for library in chip.tenxlibrary_set.all %}
                        <tr>
                            <td><a href="{{ library.get_absolute_url }}">{{ library.id }}</a></td>
                            <td><a href="https://www.bcgsc.ca/jira/browse/{{ library.jira_ticket }}">{{ library.jira_ticket }}</a></td>
                            <td>{{ library.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tr><h5><i class="text-warning">There is no 10x library related to this Chip!</i></h5></tr>
            {% endif %}
        </table>
    </div>

</div>

<div class="container" style="margin-bottom: 5px;">
    <a class="btn btn-warning btn-sm" style="float: left; margin: 5px;" href="{% url 'tenx:chip_update' chip.pk %}">Edit</a>
    <a class="btn btn-danger btn-sm" style="float: left; margin: 5px;"  href="{% url 'tenx:chip_delete' chip.pk %}">Delete</a>
    <a style="float: right; margin: 5px;" href="{% url 'tenx:chip_list' %}"><i class="fa fa-arrow-circle-left"></i> TenX Chips</a>
</div>

<br>


{% endblock %}
