#grey_background {
    background-color: #F5F5F5;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;    
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

h4 {
    color: #5D4037;
    font-style: italic;
}

td, th {
    padding:4px;
}

a:hover {
    color: #FF5722;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

.errorlist {
    color:red;
    font-style: italic;
}

.helptext {
    /*font-style: italic;*/
    margin-bottom: 5px;
    color: #616161;
    font-size: 12px;
}

.header {
    background-color: #DCE775;
    color: #212121;
    margin-bottom: 5px;
    padding-left: 5px;
}

#login {
    background-color: #C5E1A5;
    border: solid 1px #BDBDBD;
    width: 400px;
    margin: 0 auto;
}