{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Change password
{% endblock %}

{% block body %}
<div class="container graybg">
    {%if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        <table class="table-condensed">
            <tr>
                <th><label for="username">Username:</label></th>
                <td><input readonly type="text" name="username" id="username" value={{user.username}} style="color:#757575;"></td>
            </tr>        
            <tr>
                <th><label for="curr_pwd">Current password:</label></th>
                <td><input type="password" name="curr_pwd" id="curr_pwd"></td>
            </tr>
            <tr>
                <th><label for="new_pwd">New password:</label></th>
                <td><input type="password" name="new_pwd" id="new_pwd"></td>
            </tr>
            <tr>
                <th><label for="re_new_pwd">Confirm new password:</label></th>
                <td><input type="password" name="re_new_pwd" id="re_new_pwd"></td>
            </tr>
        </table><br>
        <input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
        <a class="btn btn-default btn-sm" href="{% url 'index' %}">Cancel</a>
    </form>
    {% else %}
    please login.
    {% endif %}
</div>
{% endblock %}
