<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>GSC Form Submission</title>

    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </head>

  <body>
    {% load staticfiles %}
    <div>
      <b-container id="gsc-form">
        <b-card
        id="gsc-card"
        overlay
        img-src="../static/core/mainheaderimage.jpg"
        img-alt="Andrew Image"
        text-variant="white"
        title="GSC Submission Helper"
        sub-title="Cool Subtitle"
        >
          <b-card-text>
              Please Select the Libraries to create a list
          </b-card-text> 
        </b-card>      
        <b-card>

          <b-collapse v-model="showCollapse" id="collapse-1">
          <b-container id="bottom-selector">
              <b-row >
                  <b-col>
                      <i class="fa fa-child"></i> Libraries:
                      <b-form-input v-model="options_key"></b-form-input>
                      <b-form-select v-model="selected_ids" :options="optionsDisplay" multiple :select-size="4"></b-form-select>
                  </b-col>
                  <b-col>
                      <i class="fa fa-edit"></i> Selected:
                      <b-form-input v-model="selected_key"></b-form-input>
                      <b-form-select v-model="options_ids" :options="selectedDisplay" multiple :select-size="4"></b-form-select>
                  </b-col>
              </b-row>
              <b-button id="submit-button"  v-on:click="updateOptions" variant="primary">MOve</b-button>
          </b-container>  
          </b-collapse>

          <b-collapse id="collapse-2">  
          <b-container id="bottom-result">
            <b-table responsive hover small :items="results"></b-table>
          </b-container>        
          </b-collapse>

        </b-card>
        <b-card
          overlay
          img-src="../static/core/mainfooterimage.jpg"
          img-alt="Andrew Image"
          text-variant="white"
        >
          <b-container>
            <b-button id="show-button" v-b-toggle.collapse-2 v-on:click="updateCollapse"> Show List </b-button>
          </b-container>
        </b-card>
      </b-container>
    </div>

    <script>
      window.app = new Vue({
        el: '#gsc-form',
        data: {
          showCollapse: true,
          options_key: "",
          selected_key: "",
          selected_ids: [],
          options_ids: [],
          libraries: [],
          results: [],
        },
        methods: {
          updateCollapse: function () {
            this.showCollapse = !this.showCollapse
          },
          updateOptions: function() {
            for(var i = 0; i < this.libraries.length; i++){
              if (this.selected_ids.includes(this.libraries[i].value)){
                this.libraries[i].userselect = true
              }
              else if (this.options_ids.includes(this.libraries[i].value)){
                this.libraries[i].userselect = false
              }
            }
            this.postSelected()
          },
          postSelected: function() {
            var selectedlist = []
            this.libraries.forEach( function (library) {
              if (library.userselect) {
                selectedlist.push(library.value)
              }
            })
            console.log(selectedlist)
            axios(
              {
                method: 'post',
                url: "http://127.0.0.1:8000/core/gsc_data",
                dataType: "json",
                data: {
                  "selected" : selectedlist
                  },
                headers: {
                  "X-CSRFToken": Cookies.get('csrftoken'), 
                  "content-type": "application/json" 
                }
              }
            ).then( (response) => {
              this.results = response.data
              }
            )
          }
        },
        computed: {
          optionsDisplay() {
            var filter = this.options_key
            return this.libraries.filter(function (library) {
              return !library.userselect && library.text.includes(filter)
            })
          },
          selectedDisplay() {
            var filter = this.selected_key
            return this.libraries.filter(function (library) {
              // console.log(library)
              return library.userselect && library.text.includes(filter)
            })
          }
        },
        created: function() {
          this.libraries = JSON.parse(unescape("{{libraries| safe | escapejs}}")) 
          // console.log(this.libraries)
        },
      })
    </script>

    <style>
    
    #gsc-form {
        padding-top: 4%;
        width: 800px;
    }
    
    #gsc-card {
      width: 100%;
      margin: 0 auto;
      border-radius: 100px;
    }

    #show-button {
      float: right;
      margin-bottom: 10px;
      border: none;
      background: none;
    }

    #bottom-selector {
      height:220px;
      align-content: center;
      padding: 10px;

    }
    #bottom-result {
      padding: 10px;
      max-height:500px;
      overflow-y: scroll;
    }

    #submit-button {
        float: right;
        margin-top: 0.3em
    }
    </style>
  </body>
</html>