{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}JIRA Ticket Creation{% endblock %}

{% load crispy_forms_tags %}

{% block body %}

<div class="container graybg" style="margin-bottom:10px; border-radius: 10px; box-shadow: 0px 0px 5px grey;">

   <legend style="padding-top: 5px">{{library_type.upper}} Jira Ticket Detail</legend>
    <form action="{% url 'dlp:jira_ticket_confirm' %}" method="POST" style="padding: 0px 10px 10px 10px">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-primary btn-sm" style="margin: 10px 0px 20px 10px" type="submit" name="create" value="Create">
        <a class="btn btn-default btn-sm" style="margin: 10px 10px 20px 0px"  href="{% url 'dlp:library_create' %}">Cancel</a>
    </form>
</div>

{% endblock %}
