{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Delete Library
{% endblock %}

{% block body %}
<div class="container graybg">
    <h5>Are you sure you want to detete library <i class="emph">{{library}}</i>? All of the following related items will be deleted too:</h5>
    {% if library.sequencing_set.all %}
    <ul style="list-style-type:square">
    {% for sequencing in library.sequencing_set.all %}
    <li><a href="{{sequencing.get_absolute_url}}">{{sequencing}}</a></li>
    {% endfor %}
    </ul><br>
    {% else %}
    <h5><i class="text-warning">There are no related items to this object!</i></h5><br>
    {% endif %}
    <form action="{% url library_type|add:':library_delete' pk=pk %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger btn-sm" type="submit" name="delete" value="Yes, I'm sure">
        <a class="btn btn-default btn-sm" href="{% url library_type|add:':library_list' %}">Cancel</a>
    </form><br>
</div>
{% endblock %}