{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}Edit Library{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url library_type|add:':library_update' pk=pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Library Information</legend>
            <table class="table-condensed">
                <thead>
                    {% for field in lib_form %}
                        <tr>
                            <th>
                                {{ field.label_tag }}
                            </th>
                            <td>
                                {{ field.errors }}
                                {% if library_type == 'tenx' %}
                                    {% if field.name == "name" %}
                                        <h4 id="tenx_name"> {{name}} </h4>
                                    {% endif %}
                                {% endif %}
                                {% if field.name == "projects" %}
                                    <select class="selectpicker" id="projects" name="projects" multiple data-none-selected-text="--------">
                                        {% for project in projects %}
                                            {% if project in selected_projects %}
                                                <option selected="{{ project }}" value={{ project.id }}>{{ project }}</option>
                                            {% else %}
                                                <option value={{ project.id }}>{{ project }}</option>
                                            {% endif %}
                                        {% endfor %}

                                    </select>
                                {% elif field.name == "relates_to_dlp" %}
                                    <select class="selectpicker" id="id_relates_to_dlp" data-live-search="True" name="relates_to_dlp" multiple data-none-selected-text="--------">
                                        {% for lib in related_dlp_libs %}
                                            {% if lib in selected_related_dlp_libs %}
                                                <option value={{ lib.id }} selected="{{ lib }}">{{ lib }}</option>
                                            {% else %}
                                                <option value={{ lib.id }}>{{ lib }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% elif field.name == "relates_to_tenx" %}
                                    <select class="selectpicker" id="id_relates_to_tenx" data-live-search="True" name="relates_to_tenx" multiple data-none-selected-text="--------">
                                        {% for lib in related_tenx_libs %}
                                            {% if lib in selected_related_tenx_libs %}
                                                <option value={{ lib.id }} selected="{{ lib }}">{{ lib }}</option>
                                            {% else %}
                                                <option value={{ lib.id }}>{{ lib }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    {{ field }}
                                {% endif %}

                                {% if field.help_text %}
                                    <p class="helptext">{{ field.help_text }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </thead>
            </table>
         </fieldset>

         <br>

         {% if library_type == 'dlp' %}
             <fieldset>
                <legend>Sublibrary Information</legend>
                <table class="table-condensed">
                    <thead>
                        {{ sublib_form }}
                    </thead>
                </table>
             </fieldset>

             <br>
         {% endif %}

         <fieldset>
            <legend>Library Sample Details</legend>
            <table class="table-condensed">
                <thead>
                    {{ libdetail_formset }}
                </thead>
            </table>
         </fieldset>

         <br>

         <fieldset>
            <legend>Library Construction Information</legend>
            <table class="table-condensed">
                <thead>
                    {{ libcons_formset }}
                </thead>
            </table>
         </fieldset>

         <br>

         <fieldset>
            <legend>Library Quantification and Storage</legend>
            <table class="table-condensed">
                <thead>
                    {{ libqs_formset }}
                </thead>
            </table>
         </fieldset>

         <br>

        <input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
        <a class="btn btn-default btn-sm" href="{% url library_type|add:':library_detail' pk=pk %}">Cancel</a>
    </form>

    <br>
</div>
{% include "core/scripts/library_script_block.html" %}
{% endblock %}

