{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}Library Details{% endblock %}

{% block body %}

<div class="container" style="padding: 0 0; margin-top: 0.7em; margin-bottom: 1em;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h2 style="margin: 0 0 0 5px; color: #5D4037;">
                {% if library_type == 'dlp' %}
                    {{ library.pool_id }}
                {% elif library_type == 'tenx' %}
                    {{library.get_id}}
                {% else %}
                    {{ library.id }}
                {% endif %}
            </h2>
        </div>

        <div>
            <a class="btn btn-warning" style="margin-right: 5px;" href="{% url library_type|add:':library_update' pk=library.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url library_type|add:':library_delete' pk=library.pk %}">Delete</a>
        </div>
    </div>
</div>

{# This is so that the detail container colours start at the right colour #}
<div></div>

<!-- Meta Information -->
<div class="container detail-container">
    <h4>Library Detail</h4>

    <table class="table-condensed">
        <tr>
            <th id="thid"> Sample:</th>
            <td id="tdid" class="notes"><a href="{{ library.sample.get_absolute_url }}">{{ library.sample }}</a></td>
        </tr>
        <tr>
            {% if library_type == 'pbal' %}
                <th id="thid"> Number of plates:</th>
                <td id="tdid" class="notes">{{ library.plate_set.count }}</td>
            {% endif %}
            {% if library_type == 'tenx' %}
                <th id="thid">Tenx Pool:</th>
                {% if library.tenxpool_set.all %}
                <td id="tdid">
                    {% for pool in  library.tenxpool_set.all %}
                    <a href="{{ pool.get_absolute_url }}">{{pool}}</a>
                    {% endfor %}
                </td>
                {% else %}
                <td>None</td>
                {% endif %}
            {% endif %}
        </tr>
        {% for field, value in library_dict.items %}
        <tr>
            <th id="thid">{{ field }}:</th>

            {% if field == "Jira ticket" %}
                {% if value %}
                <td id="tdid"><a href="https://www.bcgsc.ca/jira/browse/{{ value }}">{{ value }}</a></td>
                {% else %}
                <td>None</td>
                {% endif %}
            {% elif field == "Google Sheet Link" %}
                {% if value %}
                <td id="tdid"><a href="{{value}}">Link</a></td>
                {% else %}
                <td>None</td>
                {% endif %}
            {% elif field == "Chip" %}
                {% if value %}
                <td id="tdid"><a href="{{library.chips.get_absolute_url}}">{{library.chips}}</a></td>
                {% else %}
                <td>None</td>
                {% endif %}
            {% else %}
                <td id="tdid" class="notes">{{ value }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th id="thid">Project:</th>
            <td id="tdid" class="notes">{{ library.projects.all|join:", " }}</td>
        </tr>
        <tr>
            <th id="thid">Relates to (DLP):</th>
            <td id="tdid">
                {% for lib in library.relates_to_dlp.all %}
                    <a href="{{ lib.get_absolute_url }}">{{ lib }}</a><br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th id="thid">Relates to (10x):</th>
            <td id="tdid">
                {% for lib in library.relates_to_tenx.all %}
                    <a href="{{ lib.get_absolute_url }}">{{ lib }}</a><br>
                {% endfor %}
            </td>
        </tr>
         <tr>
            {% if library_type == 'dlp' %}
                <th id="thid">Excluded From Analysis</th>
                <td id="tdid" class="notes">{{ library.exclude_from_analysis }}</td>
            {% endif %}
        </tr>
    </table>
</div>
<!-- end of Meta Information -->

{% if library_type == 'pbal' %}
    <!-- Plates -->
    <div class="container detail-container">
        <h4>Plate Details</h4>

        {% if library.plate_set %}
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Jira ticket</th>
                            <th>Plate number</th>
                            <th>Plate status</th>
                            <th>Plate location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plate in library.plate_set.all %}
                            <tr>
                                <td><a href="https://www.bcgsc.ca/jira/browse/{{ plate.jira_ticket }}">{{ plate.jira_ticket }}</a></td>
                                <td>{{ plate.plate_number }}</td>
                                <td>{{ plate.plate_status }}</td>
                                <td>{{ plate.plate_location }}</td>
                                <td>
                                    <a href="{% url 'pbal:plate_update' pk=plate.pk %}"><i class="fa fa-pencil" style="color: orange;"></i> update</a>
                                    <a href="{% url 'pbal:plate_delete' pk=plate.pk %}"><i class="icon-remove-sign" style="color: red"></i> delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h5><i class="text-warning">There are no plates for this library!</i></h5>
        {% endif %}

        <a href="{% url 'pbal:plate_create_from_library' from_library=library.pk %}"><i class="fa fa-plus" aria-hidden="true" style="color: green;"></i> Add Plate</a>
    </div>

    <br>
    <!-- end of Plates -->
{% endif %}

<!-- Library Sample Detail -->
<div class="container detail-container">
    <h4>Library Sample Detail</h4>

    {% if library.has_library_sample_detail %}
    <table class="table-condensed">
        {% if library_type == 'dlp' %}
            {% for field, value in library.dlplibrarysampledetail.get_field_values.items %}
                <tr>
                    <th id="thid">{{ field }}:</th>
                    <td id="tdid" class="notes">{{ value }}</td>
                </tr>
            {% endfor %}
        {% elif library_type == 'pbal' %}
            {% for field, value in library.pballibrarysampledetail.get_field_values.items %}
                <tr>
                    <th id="thid">{{ field }}:</th>
                    <td id="tdid" class="notes">{{ value }}</td>
                </tr>
            {% endfor %}
        {% elif library_type == 'tenx' %}
            {% for field, value in library.tenxlibrarysampledetail.get_field_values.items %}
                <tr>
                    <th id="thid">{{ field }}:</th>
                    <td id="tdid" class="notes">{{ value }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    {% else %}
        <h5><i class="text-warning">There is no library sample detail for this library!</i></h5>
    {% endif %}
</div>
<!-- end of Library Sample Detail -->

<!-- Library Construction Information -->
<div class="container detail-container">
    <h4>Library Construction Information</h4>

    {% if library.has_library_construction_information %}
        <table class="table-condensed">
            {% if library_type == 'dlp' %}
                {% for field, value in library.dlplibraryconstructioninformation.get_field_values.items %}
                    <tr>
                        <th id="thid">{{ field }}:</th>
                        <td id="tdid" class="notes">{{ value }}</td>
                    </tr>
                {% endfor %}
            {% elif library_type == 'pbal' %}
                {% for field, value in library.pballibraryconstructioninformation.get_field_values.items %}
                    <tr>
                        <th id="thid">{{ field }}:</th>
                        <td id="tdid" class="notes">{{ value }}</td>
                    </tr>
                {% endfor %}
            {% elif library_type == 'tenx' %}
                {% for field, value in library.tenxlibraryconstructioninformation.get_field_values.items %}
                    <tr>
                        <th id="thid">{{ field }}:</th>
                        <td id="tdid" class="notes">{{ value }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    {% else %}
        <h5><i class="text-warning">There is no library construction information for this library!</i></h5>
    {% endif %}
</div>
<!-- end of Library Construction Information -->

<!-- Library Quantification and Storage -->
<div class="container detail-container">
    <h4>Library Quantification and Storage</h4>

    {% if library.has_library_quantification_and_storage %}
        <table class="table-condensed">
            {% if library_type == 'dlp' %}
                <tr>
                    <th id="thid">Library location:</th>
                    <td id="tdid">{{ library.dlplibraryquantificationandstorage.library_location }}</td>
                </tr>

                {% for field, value in library.dlplibraryquantificationandstorage.get_field_values.items %}
                    <tr>
                        {% if field == "Agilent bioanalyzer xad file" and value %}
                            <th id="thid">{{ field }}:</th>
                            <td id="tdid">
                                <a href="{{ library.dlplibraryquantificationandstorage.agilent_bioanalyzer_xad.url }}">
                                    {{ value }}
                                </a>
                            </td>
                        {% elif field == "Agilent bioanalyzer image file" and value %}
                            <th id="thid">{{ field }}:</th>
                            <td id="tdid">
                                <a href="{{ library.dlplibraryquantificationandstorage.agilent_bioanalyzer_image.url }}">
                                    {{ value }}
                                </a>
                            </td>
                        {% else %}
                            <th id="thid">{{ field }}:</th>
                            <td id="tdid" class="notes">{{ value }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% elif library_type == 'pbal' %}
                {% for field, value in library.pballibraryquantificationandstorage.get_field_values.items %}
                    <tr>
                        <th id="thid">{{ field }}:</th>
                        <td id="tdid" class="notes">{{ value }}</td>
                    </tr>
                {% endfor %}
            {% elif library_type == 'tenx' %}
                {% for field, value in library.tenxlibraryquantificationandstorage.get_field_values.items %}
                    <tr>
                        <th id="thid">{{ field }}:</th>
                        <td id="tdid" class="notes">{{ value }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    {% else %}
        <h5><i class="text-warning">There is no library quantification and storage for this library!</i></h5>
    {% endif %}
</div>
<!-- end of Library Quantification and Storage -->

<!-- Experimental Condition Metadata -->
{% if library_type == 'dlp' %}
    <div class="container detail-bordered-container">
        <h4>Experimental Condition Metadata</h4>
            {% if chip_metadata %}
                <div class="table-responsive">
                    <table id="experimental-condition-datatable" class="table-striped table-bordered">
                        <thead>
                            <tr>
                                {% if library_type == 'dlp' %}
                                    <th>experimental condition</th>
                                {% else %}
                                    <th>Condition_ID</id>
                                {% endif %}

                                {% for field in metadata_fields %}
                                    <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for code, metadata_row in chip_metadata.items %}
                                <tr>
                                    <td>{{ code }}</td>

                                    {% for data in metadata_row %}
                                        <td>{{ data }}</td>
                                    {% endfor %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h5><i class="text-warning">There is no condition metadata for library!</i></h5>
            {% endif %}
    </div>
<!-- endof Experimental Condition Metadata -->

<!-- Doublet Information -->
    <div class="container detail-bordered-container">
        <h4>Doublet Information</h4>
        {% if library.doubletinformation %}
            <div class="table-responsive">
                <table id="doublet-datatable" class="table-striped table-bordered" style="text-align: center; width: 100%">
                  <tr>
                    <td></td>
                    <th scope="col" style="text-align: center; width:30%">Live</th>
                    <th scope="col" style="text-align: center; width:30%">Dead</th>
                    <th scope="col" style="text-align: center; width:30%">Other</th>
                  </tr>
                  <tr>
                    <th scope="row">1 cell</th>
                    <td>{{library.doubletinformation.live_single}}</td>
                    <td>{{library.doubletinformation.dead_single}}</td>
                    <td>{{library.doubletinformation.other_single}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2 cells</th>
                    <td>{{library.doubletinformation.live_doublet}}</td>
                    <td>{{library.doubletinformation.dead_doublet}}</td>
                    <td>{{library.doubletinformation.other_doublet}}</td>
                  </tr>
                  <tr>
                    <th scope="row">>2 cells</th>
                    <td>{{library.doubletinformation.live_gt_doublet}}</td>
                    <td>{{library.doubletinformation.dead_gt_doublet}}</td>
                    <td>{{library.doubletinformation.other_gt_doublet}}</td>
                  </tr>
                </table>
            </div>
        {% else %}
            <h5><i class="text-warning">There is no doublet information for this library!</i></h5>
        {% endif %}
    </div>
<!-- End of Doublet Information -->

<!-- Sublibrary Information -->
    <div class="container detail-bordered-container">
        <h4>Sublibrary Information</h4>

        {% if library.sublibraryinformation_set.all %}
            <div class="table-responsive">
                <table id="sublibrary-datatable" class="table-striped table-bordered" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>cell_id</th>
                            <th>Condition</th>

                            {% for field in  sublibinfo_fields %}
                                <th>{{ field }}</th>
                            {% endfor %}

                        </tr>
                    </thead>
                    <tbody>
                        {% for sublibinfo in library.sublibraryinformation_set.all %}
                            <tr>
                                <td>{{ sublibinfo.get_sublibrary_id }}</td>
                                <td>{{ sublibinfo.chip_region.region_code }}</td>

                                {% for value in sublibinfo.get_values %}
                                    <td>{{ value }}</td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div style="padding-top: 0.5em;">
                <a class="btn btn-primary btn-sm" href="{% url 'dlp:export_sublibrary_csv' pk=library.pk %}">Export to CSV</a>
            </div>
        {% else %}
            <h5><i class="text-warning">There is no sublibrary information for this library!</i></h5>
        {% endif %}
    </div>
{% endif %}

<!-- ADD DOUBLET INFORMATION HERE -->

<!-- end of Sublibrary Information -->
{% if library_type == 'dlp' or library_type == 'pbal' %}
<!-- Sequencing Information -->
<div class="container detail-bordered-container">
    <h4>Sequencing Information</h4>

    {% if library.dlpsequencing_set.all %}
        <div class="table-responsive">
            <table id="sequencing-datatable" class="table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sample ID</th>
                        <th>Chip ID</th>
                        <th>Adapter</th>
                        <th>Sequencing instrument</th>
                        <th>Submission date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sequencing in library.dlpsequencing_set.all %}
                        <tr>
                            <td><a href="{{ sequencing.get_absolute_url }}">{{ sequencing.id }}</a></td>
                            <td><a href="{{ sequencing.library.sample.get_absolute_url }}">{{ sequencing.library.sample.sample_id }}</a></td>
                            <td>{{ sequencing.library.pool_id }}</td>
                            <td>{{ sequencing.adapter }}</td>
                            <td>{{ sequencing.get_sequencing_instrument_display }}</td>
                            <td>{{ sequencing.submission_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif library.pbalsequencing_set.all %}
        <div class="table-responsive">
            <table id="sequencing-datatable" class="table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sample ID</th>
                        <th>Adapter</th>
                        <th>Sequencing instrument</th>
                        <th>Submission date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sequencing in library.pbalsequencing_set.all %}
                        <tr>
                            <td><a href="{{ sequencing.get_absolute_url }}">{{ sequencing.id }}</a></td>
                            <td><a href="{{ sequencing.library.sample.get_absolute_url }}">{{ sequencing.library.sample.sample_id }}</a></td>
                            <td>{{ sequencing.adapter }}</td>
                            <td>{{ sequencing.get_sequencing_instrument_display }}</td>
                            <td>{{ sequencing.submission_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h5><i class="text-warning">There is no sequencing information for this library!</i></h5>
    {% endif %}

    <a href="{% url library_type|add:':sequencing_create_from_library' from_library=library.pk %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add Sequencing</a></p>
</div>
<!-- end of Sequencing Information -->
{% endif %}
<!-- Analysis Information -->
{% if library_type == 'dlp' %}
    <div class="container detail-bordered-container">
        <h4>Analysis Information</h4>

        {% if analyses %}
            <div class="table-responsive">
                <table id="analysis-datatable" class="table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Analysis ID</th>
                                <th>Jira ticket</th>
                                <th>Montage</th>
                                <th>Pipeline version</th>
                                <th>Aligner</th>
                                <th>Lanes</th>
                                <th>Analysis run status</th>
                                <th>Submission date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for analysis in analyses %}
                                <tr>
                                    <td><a href="{{ analysis.get_absolute_url }}">{{ analysis.id }}</a></td>
                                    <td><a href="https://www.bcgsc.ca/jira/browse/{{ analysis.analysis_jira_ticket }}">{{ analysis.analysis_jira_ticket }}</a></td>
                                    <td><a href="https://52.235.35.201/?dashboard={{ analysis.analysis_jira_ticket }}">{{ analysis.analysis_jira_ticket }}</a></td>
                                    <td>{{ analysis.version.version }}</td>
                                    <td>{{ analysis.aligner }}</td>
                                    <td>{{analysis.lanes.all.count}}</td>
                                    <td>{{ analysis.analysis_run.get_run_status_display }}</td>
                                    <td>{{ analysis.analysis_submission_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% else %}
              <h5><i class="text-warning">There is no Analysis information for this library!</i></h5>
        {% endif %}

        <a href="{% url 'sisyphus:analysisinformation_create_from_library' from_library=library.pk %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add Analysis </a></p>
    </div>
{% endif %}
<!-- end of Analysis Information -->

<!-- footer bottons -->
<div class="container" style="margin-bottom:5px;">
    <a style="float:right; margin:5px;" href="{% url library_type|add:':library_list' %}"><i class="fa fa-arrow-circle-left"></i> Libraries</a>
</div>

<br>
<!-- end of footer bottons -->

{% endblock %}

{% block datatables_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#experimental-condition-datatable").DataTable({
                stateSave: true,
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": "no-sort-col",
                    }
                ]
            });
            $("#sublibrary-datatable").DataTable({
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": "no-sort-col",
                    }
                ]
            });
            $("#doublet-datatable").DataTable({
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": "no-sort-col",
                    }
                ]
            });
            $("#sequencing-datatable").DataTable({
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": "no-sort-col",
                    }
                ]
            });
            $("#analysis-datatable").DataTable({
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": "no-sort-col",
                    }
                ]
            });
        });
    </script>
{% endblock %}
