{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}Update Plate{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'pbal:plate_update' pk=pk %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Plate Information</legend>
            <table class="table-condensed">
                <thead>
                {% for field in form %}
                    <tr>
                        <th>
                        {{ field.label_tag }}
                        </th>
                        <td>
                            {{ field.errors }}
                            {% if field.name == "library" and library_id %}
                                <select id="id_library" name="library">
                                    <option value="{{ library_id }}" selected="selected">{{ library }}</option>
                                </select>
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {% if field.help_text %}
                                <p class="helptext">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </thead>
            </table>
        </fieldset>

        <br>

        <input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
        <a class="btn btn-default btn-sm" href="{% url 'pbal:library_detail' pk=library_id %}">Cancel</a>
    </form>

    <br>
</div>
{% endblock %}
