{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}Create Project{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'core:project_create' %}" method="POST">
        {% csrf_token %}
        <table class="table-condensed">
            <tbody>
                <tr>
                    <th>
                        {{ form.name.label_tag }}
                    </th>
                    <td>
                        {{ form.name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.description.label_tag }}
                    </th>
                    <td>
                        {{ form.description }}
                    </td>
                </tr>
            </tbody>
        </table>

        <br>

        <input class="btn btn-primary btn-sm" type="submit" name="create" value="Create">
        <a class="btn btn-default btn-sm" href="{% url 'core:project_list' %}">Cancel</a>
    </form>

    <br>
</div>
{% endblock %}
