{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}List of Projects{% endblock %}

{% block body %}
<div class="container" style="padding: 0; margin-bottom: 5px;">
    <a class="btn btn-primary btn-sm" style="float: right; margin-top: 5px;" href="{% url 'core:project_create' %}">Add Project</a>
</div>

<div class="container" style="background-color:#F5F5F5;">
    <div class="table-responsive">
        <table id="datatable" class="table table-striped">
            <thead>
                <th>Project</th>
                <th class="no-sort-col">Dlp Library</th>
                <th class="no-sort-col">Pbal Library</th>
                <th class="no-sort-col">Tenx Library</th>
                <th class="no-sort-col">Total Count</th>

            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <p style="margin: 0;"><a href="{{ project.get_absolute_url }}">{{ project }}</a></p>
                    </td>
                    <td>
                        {{ project.dlplibrary_set.count }}
                    </td>
                    <td>
                        {{ project.pballibrary_set.count }}
                    </td>
                    <td>
                        {{ project.tenxlibrary_set.count }}
                    </td>
                    <td>
                        {{ project.get_libraries|length }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block datatables_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#datatable").DataTable({
                "columnDefs": [ 
                ]
            });
        });
    </script>
{% endblock %}