{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}Edit Sample{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'core:sample_update' pk=pk %}" method="POST">
        {% csrf_token %}
         <fieldset>
            <legend>Sample Information</legend>
            <table class="table-condensed">
                <thead>
                    {{ form }}
                </thead>
            </table>
         </fieldset>
         <fieldset>
            <legend>Additional Sample Information</legend>
            <table class="table-condensed">
                <thead>
                    {{ formset }}
                </thead>
            </table>
         </fieldset>

         <br>

        <input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
        <a class="btn btn-default btn-sm" href="{% url 'core:sample_detail' pk=pk %}">Cancel</a>
    </form>

    <br>
</div>
{% endblock %}
