{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}List of Samples{% endblock %}

{% block body %}
<div class="container" style="padding: 0; margin-bottom: 5px;">
    <h4 style="float: left;">Select a sample to view its details</h4>
    <a class="btn btn-primary btn-sm" style="float: right; margin-top: 5px;" href="{% url 'core:sample_create' %}">Add Sample</a>
</div>
<div class="container" style="background-color: #F5F5F5;">
    <button class="btn btn-primary btn-sm" id="all_filter" style="margin-top : 10px;">All</button>
    <button class="btn btn-default btn-sm" id="dlp_filter" style="margin-top : 10px; margin-left:3px; margin-right:3px;">DLP</button>
    <button class="btn btn-default btn-sm" id="tenx_filter" style="margin-top : 10px;">10X</button>
    <div class="table-responsive">
        <table id="sample_datatable" class="table table-striped">
            <thead>
                <tr>
                    <th>Primary Sample ID</th>
                    <th>Sample Type</th>
                    <th>Xenograft ID</th>
                    <th>Cell Line ID</th>
                    <th>Anonymous Patient ID</th>
                    <th>No. of DLP Sequencings</th>
                    <th>No. of 10X Sequencings</th>
                    <th>Notes</th>
                    <th class="no-sort-col"></th>
                </tr>
            </thead>
            <tbody>
                <br/>

                {% for sample in samples %}
                    <tr>
                        <td><a href="{% url 'core:sample_detail' pk=sample.pk %}">{{ sample.sample_id }}</a></td>
                        <td>{{ sample.get_sample_type_display }}</td>
                        <td>{{ sample.xenograft_id }}</td>
                        <td>{{ sample.cell_line_id }}</td>
                        <td>{{ sample.anonymous_patient_id }}</td>
                        <td>
                            <span id='{{sample}}dlp' class="badge"  title="DLP Libraries for {{sample}}" data-toggle="{{sample}}dlp-toggle" data-placement="bottom" style="padding: 0px 15px 0px 15px;">
                                {{ sample.get_dlp_seq_count }}
                            </span>
                            <div id='{{sample}}dlp-popover' style="display: none;">
                                <div style="max-height : 300px; overflow-y :auto;">
                                     {% for library in sample.dlplibrary_set.all %}
                                    <h6><a href="{{library.get_absolute_url}}">{{library}}</a> Sequencings: {{library.dlpsequencing_set.count}}</h6>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        <td>
                            <span id='{{sample}}tenx' class="badge"  title="10x Libraries for {{sample}}" data-toggle="{{sample}}tenx-toggle" data-placement="bottom" style="padding: 0px 15px 0px 15px;">
                                {{ sample.get_tenx_seq_count }}
                            </span>
                            <div id='{{sample}}tenx-popover' style="display: none;">
                                <div style="max-height : 300px; overflow-y :auto;">
                                     {% for library in sample.tenxlibrary_set.all %}
                                    <h6><a href="{{library.get_absolute_url}}">{{library}}</a> Sequencings: {{library.tenxsequencing_set.count}}</h6>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        <td>{{ sample.notes }}</td>
                        <td>
                            <div style="float: right; min-width: 69px">
                                <a style="margin-right: 2px;" href="{% url 'core:sample_update' pk=sample.pk %}"><i class="fa fa-pencil" aria-hidden="true" style="color: orange;"></i> edit</a>
                                <br>
                                <a href="{% url 'core:sample_delete' pk=sample.pk %}"><i class="icon-remove-sign" style="color: red"></i> delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'core/scripts/pop_toggle.html' %}
{% endblock %}


{% block datatables_script %}
<script type="text/javascript">
var primary_class = "btn btn-primary btn-sm";
var default_class = "btn btn-default btn-sm";

var all_button = document.getElementById("all_filter");
var dlp_button = document.getElementById("dlp_filter");
var tenx_button = document.getElementById("tenx_filter");

var dlp = false;
var tenx = false;

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ){
        var dlp_seq = parseFloat( data[5] ) || 0;
        var tenx_seq = parseFloat( data[6] ) || 0;
        if(dlp && tenx){
            if(dlp_seq == 0 || tenx_seq == 0)
                return false;
        }
        else if(dlp){
            if(dlp_seq == 0 || tenx_seq > 0)
                return false;
        }
        else if(tenx){
            if(tenx_seq == 0 || dlp_seq > 0)
                return false;
        }

        return true;
});

$(document).ready(function() {
    var table = $('#sample_datatable').DataTable(
        {stateSave: true}
    );
    all_button.addEventListener("click", function() {myFunction("all", table)});
    dlp_button.addEventListener("click", function() {myFunction("dlp", table)});
    tenx_button.addEventListener("click", function() {myFunction("tenx", table)});

    $('[data-toggle*="toggle"]').popover({
        html: true,
        content: function() {
        return $('#' + this.id + '-popover').html();
        }
    });
});

function myFunction(type, table){
    if(type == "tenx"){
        tenx = !tenx;
        table.draw();
    };

    if(type == "dlp"){
        dlp = !dlp;
        table.draw();
    };

    if(type == "all"){
        dlp = false;
        tenx = false;
        table.draw();
    };
    all_button.className = (dlp||tenx) ? default_class : primary_class;
    dlp_button.className = (dlp) ? primary_class : default_class;
    tenx_button.className = (tenx) ? primary_class : default_class;
}
</script>
{% endblock %}
