{% extends "base_view.html" %}

{% load staticfiles %}

{% block title %}Edit Sequencing{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url library_type|add:':sequencing_update' pk=pk %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Sequencing Information</legend>
            <table class="table-condensed">
                <thead>
                {% for field in form %}
                    <tr>
                        <th>
                            {{ field.label_tag }}
                        </th>
                        <td>
                            {{ field.errors }}

                            {% if field.name == "relates_to" %}
                                <select class="selectpicker" data-live-search="True" id="id_relates_to" name="relates_to" multiple data-none-selected-text="--------">

                                    {% for seq in related_seqs %}
                                        {% if seq in selected_related_seqs %}
                                            <option value={{ seq.id }} selected="{{ seq }}">{{ seq }}</option>
                                        {% else %}
                                            <option value={{ seq.id }}>{{ seq }}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select>
                            {% else %}
                                {{ field }}
                            {% endif %}

                            {% if field.help_text %}
                                <p class="helptext">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </thead>
            </table>

         </fieldset>

         <br>

        <input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
        <a class="btn btn-default btn-sm" href="{% url library_type|add:':sequencing_detail' pk=pk %}">Cancel</a>
    </form>

    <br>
</div>
{% endblock %}
