

analysis


hmm align and qc

imcomplete 

analysis 
status-complete 
    (IDLE, 'Idle'),
    (ERROR, 'Error'),
    (RUNNING, 'Running'),
    (ARCHIVING, 'Archiving'),
    (COMPLETE, 'Complete'),
    (ALIGN_COMPLETE, 'Align Complete'),
    (HMMCOPY_COMPLETE, 'Hmmcopy Complete'),


Sequcnign goal != lanes (old ones mismatching)
|| (sequencing  goal == leans  but last_requsted date < 2months && not complete) (old ones mismatching)
Sample Library NA NA NA Lanes

Incomplete 
    (COMPLETE, 'Complete'),
    (ALIGN_COMPLETE, 'Align Complete'),
    (HMMCOPY_COMPLETE, 'Hmmcopy Complete'),

