{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
    List of Analyses
{% endblock %}

{% block body %}
<div class="container" style="padding:0; margin-bottom:5px;">
    <h4 style="float:left;">Select an Analysis to view its details</h4>
</div>

<div class="container" style="background-color:#F5F5F5;">
    <div class="table-responsive">
    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Analysis ID</th>
                <th>Jira Ticket</th>
                <th>Version</th>
                <th>Run Status</th>
                <th>Library</th>
            </tr>
        </thead>
        <tbody>
            {% for analysis in analyses %}
              <tr>
                  <td><a href="{% url 'tenx:tenxanalysis_detail' pk=analysis.pk%}">{{ analysis }}</a></td>
                  <td><a href="https://www.bcgsc.ca/jira/browse/{{analysis.jira_ticket}}">{{analysis.jira_ticket}}</a></td>
                  <td>{{ analysis.version }}</td>
                  <td>{{ analysis.run_status }}</td>
                  <td>{{ analysis.tenx_library }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}

