{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- Bootstrap-select assets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
        <!-- end of Bootstrap-select assets -->

        <link rel="stylesheet" href="{% static 'core/style.css' %}" />
        <!-- <script scr="{% static 'core/scripts.js' %}"></script> -->

        <title>ElastiDjango Database Project</title>

    </head>
    <body>
        <!-- Header -->
        <div class="container-fluid header">
            <div class="navbar-header">
                <a class="navbar-brand" style="color:white;" href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Single Cell Database (<i>development version</i>)</a>
            </div>


            <!-- Search input box -->
            <div class="navbar-collapse collapse" data-toggle="tooltip">
            <form name="search-form" class="navbar-form navbar-right" action="{% url 'search' %}">
                <div class="right-inner-addon">
                    <i class="icon-search"></i>
                    <input type="text" name="query_str" class="form-control" placeholder="Search..." />
                </div>
            </form>
            </div>
            <!-- end of Search input box -->

        </div><br>
        <!-- end of header -->

        <!-- Display messages -->
        <div class="container messages">
            {% include "messages_display.html" %}
        </div>
        <!-- End of Display messages -->

        <div class="container" id="welcome">
            {% if user.is_authenticated %}
            <span>Welcome, <b>{{user.username}}</b></span>
            <span> / </span>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>

        <!-- Page title -->
        <div class="container subheader">
            <h2>{% block title %}Title{% endblock %}</h2>
        </div>
        <!-- end of page title -->

        {% block body %}{% endblock %}

        <!-- Footer -->
<!--         <div class="container" id="footer">
            &copy; 2016&ndash;2016 <a href="">BC Cancer Agency</a>. Single cell database is licensed under the <a href="https://github.com/harvesthq/chosen/blob/master/LICENSE.md">MIT license</a>.
        </div>
 -->        <!-- end of Footer -->
    
    </body>
</html>
