<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>ElastiDjango Database Project</title>
    </head>
    <body>
        <!-- Header -->
        <div class="container-fluid" style="background-color:#424242;">
            <div class="navbar-header">
                <a class="navbar-brand" style="color:white;" href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Single Cell Database (<i>development version</i>)</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" data-toggle="tooltip" title="AUTOCOMPLETE">
                <form class="navbar-form navbar-right">
                    <input type="text" id="search" class="form-control" placeholder=" Search...">
                </form>
            </div>
        </div><br>
        <!-- end of header -->

        <!-- Page title -->
        <div class="container", style="background-color:#FF9800; color:#212121; margin-bottom:5px; padding-left:5px;">
            <h2 style="float:left;">{% block title %}Title{% endblock %}</h2>
        </div>
        <!-- end of page title -->

        {% block body %}{% endblock %}
    </body>
</html>
