{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
List of Libraries
{% endblock %}

{% block body %}
<div class="container" style="background-color:#F5F5F5;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>Pool ID</th>
                    <th>Jira Ticket</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                <tr>
                    <td>{{sample.sample_id}}</td>
                    <td>{{sample.pool_id}}</td>
                    <td>{{sample.jira_ticket}}</td>
                    <!-- td><a href="{% url 'core:home' %}admin/core/sample/{{sample.pk}}/change">edit</a></td -->
                    <td>
                        <a href="{% url 'core:sample_detail' pk=sample.pk %}">view</a>
                        <p style="margin:0;"><a href="{% url 'core:sample_update' pk=sample.pk %}">edit</a></p>
                        <p style="margin:0;"><a href="{% url 'core:sample_delete' pk=sample.pk %}">delete</a></p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container" style="padding:0; ">
    <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'core:sample_create' %}">Add Library</a>
</div>
{% endblock %}