{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
List of Tables
{% endblock %}

{% block body %}
<div class="container">
        <table class="table-striped" style="width:100%;">
            <tbody>
                <tr>
                    <td><a href="{% url 'core:sample_list' %}">Samples</a></td>
                    <td>
                        <p style="float:right;">
                        <a href="{% url 'core:sample_create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                    </td>
                </tr>
                <tr>
                    <td><a href="">Libraries</a></td>
                    <td>
                        <p style="float:right;">
                        <a href="{% url 'core:sample_create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                    </td>
                </tr>
                <tr>
                    <td><a href="">Sequencings</a></td>
                    <td>
                        <p style="float:right;">
                        <a href="{% url 'core:sample_create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}