{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
List of Tables
{% endblock %}

{% block body %}
<div class="container">
        <table class="table-striped" style="width:100%;">
            <tbody>
                <tr>
                    <td><a href="{% url 'core:sample_list' %}">Samples</a> <i class="counter">{{sample_size}}</i></td>
                    <td>
                        <p style="float:right;">
                        <a href="{% url 'core:sample_create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                    </td>
                </tr>
                <tr>
                    <td><a href="{% url 'core:library_list' %}">Libraries</a> <i class="counter">{{library_size}}</i></td>
                    <td>
                        <p style="float:right;">
                        <a href="{% url 'core:library_create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                    </td>
                </tr>
                <tr>
                    <td><a href="{% url 'core:sequencing_list' %}">Sequencings</a> <i class="counter">{{sequencing_size}}</i></td>
                    <td>
                        <p style="float:right;">
                        <a href="{% url 'core:sequencing_create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                    </td>
                </tr>
                <tr>
                    <td><a href="{% url 'core:project_list' %}">Projects</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'core:summary' %}">Summary Statistics</a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}