{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Delete Library
{% endblock %}

{% block body %}
<div class="container">
    <h3>Do you want to detete library <i>{{library.sample.sample_id}}_{{library.pool_id}}</i>?</h3>
    <form action="{% url 'core:library_delete' pk=pk %}" method="POST">
    	{% csrf_token %}
        <input class="btn btn-danger btn-sm" type="submit" name="delete" value="Delete">
        <a class="btn btn-default btn-sm" href="{% url 'core:library_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}