{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Library Details
{% endblock %}

{% block body %}
<!-- Meta Information -->
<div class="container" style="background-color:#FFF3E0;">
    <table class="table-condensed">
        <tr>
            <th id="thid"> Sample:</th>
            <td id="tdid"><a href="{{library.sample.get_absolute_url}}">{{library.sample}}</a></td></tr>
        {% for field, value in library.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid">{{value}}</td>
        </tr>
        {% endfor %}
        <tr>
            <th id="thid">Project:</th>
            <td id="tdid">{{library.projects.all|join:", "}}</td>
    </table>
</div><br>
<!-- end of Meta Information -->
        
<!-- Library Sample Detail -->
<div class="container">
    <h4>Library Sample Detail</h4>
    {% if library.has_library_sample_detail %}
    <table class="table-condensed">
        {% for field, value in library.librarysampledetail.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid">{{value}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h5><i class="text-warning">There is no library sample detail for this library!</i></h5>
    {% endif %}
</div><br>
<!-- end of Library Sample Detail -->  

<!-- Library Construction Information -->
<div class="container">
    <h4>Library Construction Information</h4>
    {% if library.has_library_construction_information %}
    <table class="table-condensed">
        {% for field, value in library.libraryconstructioninformation.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid">{{value}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h5><i class="text-warning">There is no library construction information for this library!</i></h5>
    {% endif %}
</div><br>
<!-- end of Library Construction Information -->
  
<!-- Library Quantification and Storage -->
<div class="container">
    <h4>Library Quantification and Storage</h4>
    {% if library.has_library_quantification_and_storage %}
    <table class="table-condensed">
        {% for field, value in library.libraryquantificationandstorage.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid">{{value}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h5><i class="text-warning">There is no library quantification and storage for this library!</i></h5>
    {% endif %}
</div><br>
<!-- end of Library Quantification and Storage -->

<!-- Sublibrary Information -->
<div class="container">
    <h4>Sublibrary Information</h4>
    {% if library.sublibraryinformation_set.all %}
    <div class="table-responsive" style="text-align:center;">
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sublibrary ID</th>
                    {% for field in  sublibinfo_fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for sublibinfo in library.sublibraryinformation_set.all %}
                <tr>
                    <td>{{sublibinfo.get_sublibrary_id}}</td>
                    {% for value in sublibinfo.get_values %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    {% else %}
    <h5><i class="text-warning">There is no sublibrary information for this library!</i></h5>
    {% endif %}
</div><br>
<!-- end of Sublibrary Information -->

<!-- Sequencing Information -->
<div class="container">
    <h4>Sequencing Information</h4>
    {% if library.sequencing_set.all %}
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>Pool ID</th>
                    <th>Adapter</th>
                    <th>Sequencing instrument</th>
                    <th>Submission date</th>
                </tr>
            </thead>
            <tbody>
                {% for sequencing in library.sequencing_set.all %}
                <tr>
                    <td><a href="{{sequencing.get_absolute_url}}">{{sequencing.library.sample.sample_id}}</a></td>
                    <td>{{sequencing.library.pool_id}}</td>
                    <td>{{sequencing.adapter}}</td>
                    <td>{{sequencing.sequencing_instrument}}</td>
                    <td>{{sequencing.submission_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    {% else %}
    <h5><i class="text-warning">There is no sequencing information for this library!</i></h5>
    {% endif %}
    <a href="{% url 'core:sequencing_create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add Sequencing</a></p>
</div><br>
<!-- end of Sequencing Information -->

<!-- footer bottons -->
<div class="container" style="margin-bottom:5px;">
    <a class="btn btn-warning btn-sm" style="float:left; margin:5px;" href="{% url 'core:library_update' pk=library.pk %}">Edit</a>
    <a class="btn btn-danger btn-sm" style="float:left; margin:5px;" href="{% url 'core:library_delete' pk=library.pk %}">Delete</a>
    <a style="float:right; margin:5px;" href="{% url 'core:library_list' %}">List of libraries</a>
</div><br>
<!-- end of footer bottons -->

{% endblock %}



    