{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Edit Library
{% endblock %}

{% block body %}
<div class="container" style="background-color:#F5F5F5;">
    <form action="{% url 'core:library_update' pk=pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend style="color:#5D4037">Library Information</legend>
            <table class="table-condensed">
                <thead>
                <!-- {{form}} -->
                {% for field in form %} 
                <tr>
                    {% if field.name == "projects" %}
                    <th>
                    {{field.label_tag}}
                    </th>
                    <td>
                    {{ field.errors }}
                    <select class="selectpicker" id="projects" name="projects" multiple data-none-selected-text="--------">
                        {% for project in projects %}
                        {% if project in selected_projects %}
                        <option selected="{{project}}">{{project}}</option>
                        {% else %}
                        <option>{{project}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <!-- {% if field.help_text %}
                        <p class="helptext">{{ field.help_text }}</p>
                    {% endif %} -->
                    </td>
                    {% else %}
                    <th>
                    {{ field.label_tag}}
                    </th>
                    <td>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="helptext">{{ field.help_text }}</p>
                    {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </thead>
            </table>
         </fieldset><br>
         <fieldset>
            <legend style="color:#5D4037">Sublibrary Information</legend>
            <i>Select a SmartChipApp result file to upload:</i>
            <table class="table-condensed">
                <thead>
                {{sublib_form}}
                <!-- {{sublib_formset}} -->
                </thead>
            </table>
         </fieldset><br>
         <fieldset>
            <legend style="color:#5D4037">Library Sample Details</legend>
            <table class="table-condensed">
                <thead>
                {{libdetail_formset}}
                </thead>
            </table>
         </fieldset><br>
         <fieldset>
            <legend style="color:#5D4037">Library Construction Information</legend>
            <table class="table-condensed">
                <thead>
                {{libcons_formset}}
                </thead>
            </table>
         </fieldset><br>
         <fieldset>
            <legend style="color:#5D4037">Library Quantification and Storage</legend>
            <table class="table-condensed">
                <thead>
                {{libqs_formset}}
                </thead>
            </table>
         </fieldset><br>
        <input class="btn btn-primary btn-sm" type="submit" name="update" value="update">
        <a class="btn btn-default btn-sm" href="{% url 'core:library_list' %}">Cancel</a>
    </form><br>
</div>
{% endblock %}