{% extends "base_view.html" %}
{% load staticfiles %}
{% block body %}
<div class="jumbotron", style="background-color:#CDDC39; color:black; padding:5px;">
    <h1>Project Single Cell Database</h1>
    <i>under development</i>
</div>
<div class="container" style="background-color:#eee;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    {% for field in fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                <tr>
                    <td><a href="{% url 'core:sample_detail' %}?sid={{sample.pk}}">{{sample.sample_id}}</a></td>
                    {% for value in sample.get_values %}
                    {% if value != sample.sample_id %}
                    <td>{{value}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}