{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Delete project
{% endblock %}

{% block body %}
<div class="container">
    <h3>Do you want to detete project <i>{{project}}</i>?</h3>
    <form action="{% url 'core:project_delete' pk=pk %}" method="POST">
    	{% csrf_token %}
        <input class="btn btn-danger btn-sm" type="submit" name="delete" value="Delete">
        <a class="btn btn-default btn-sm" href="{% url 'core:project_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}