{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Sample Details
{% endblock %}

{% block body %}
<!-- Meta Information -->
<div class="container">
    <h4 style="color:#5D4037">Meta Information</h4>
    <div class="container" style="float:left; width:35%; padding:0">
        <table class="table-striped">
            <tbody>
                {% for field in sample.get_fields %}
                <tr><b>{{field}}:</b></tr><br>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container" style="float:left; width:65%; padding:0">
        <table class="table-striped">
            <tbody>
                {% for value in sample.get_values %}
                <tr>{{value}}</tr><br>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div><br>
<!-- end of Meta Information -->
    
<!-- Cell Table -->
<div class="container">
    <h4 style="color:#5D4037">Additional Sample Information</h4>
    {% if sample.has_celltable %}
    <div class="table-responsive" style="text-align:center;">
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sub_library ID</th>
                    {% for field in celltable_fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for cell in sample.celltable.cell_set.all %}
                <tr>
                    <td>{{cell}}</td>
                    {% for value in cell.get_values %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    {% else %}
    <h5><i class="text-warning">There is no additional sample information for this sample!</i></h5>
    {% endif %}
</div><br>
<!-- end of Cell Table -->
    
<!-- Library Information -->
<div class="container">
    <h4 style="color:#5D4037">Library Information</h4>
    {% if sample.has_celltable and sample.celltable.library %}
    <div class="table-responsive" style="text-align:center;">
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    {% for field in sample.celltable.library.get_fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for value in sample.celltable.library.get_values %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <h5><i class="text-warning">There is no library information for this sample!</i></h5>
    {% endif %}
</div><br>
<!-- end of Library Information -->  

{% endblock %}



    