{% extends "base_view.html" %}
{% load staticfiles %}

{% block body %}

<!-- Header -->
<div class="container", style="background-color:#CDDC39; color:black; margin-bottom:5px; padding:5px; width:100%;">
    <div class="container">
        <h1 style="float:left;">Sample Details</h1>
        <a class="navbar-brand" style="float:right; color:black;" href="{% url 'main_view' %}"><i class="fa fa-home" aria-hidden="true" ></i> Home</a>
    </div>
</div>
<!-- end of header -->

<!-- Sample Information -->
<div class="container">
    <b><i style="color:darkgreen;">Sample ID: </i></b> {{sample.sample_id}}
    <b><i style="color:darkgreen;">Pool ID: </i></b> {{sample.pool_id}}
    {% if sample.has_celltable %}
    <a href = "{% url 'main_view' %}admin/core/celltable/{{sample.celltable.pk}}/change" style="float:right;">edit</a>
    {% else %}
    <a href = "{% url 'main_view' %}admin/core/celltable/add" style="float:right;">add</a>
    {% endif %}
</div><br>

<!-- end of Sample Information -->
    
<!-- Cell Table -->
<div class="container">
    <h4><i>Cells Information</i></h4>
    {% if sample.has_celltable %}
    <div class="table-responsive" style="text-align:center;">
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sub_library ID</th>
                    {% for field in celltable_fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for cell in sample.celltable.cell_set.all %}
                <tr>
                    <td>{{cell}}</td>
                    {% for value in cell.get_values %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    {% else %}
    <h5><i class="text-warning">There is no cells information for this sample!</i></h5>
    {% endif %}
</div><br>
<!-- end of Cell Table -->
    
<!-- Library Information -->
<div class="container">
    <h4><i>Library Information</i></h4>
    {% if sample.has_celltable and sample.celltable.library %}
    <div class="table-responsive" style="text-align:center;">
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    {% for field in sample.celltable.library.get_fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for value in sample.celltable.library.get_values %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <h5><i class="text-warning">There is no library information for this sample!</i></h5>
    {% endif %}
</div><br>
<!-- end of Library Information -->  

<!-- Analyte Information -->
<div class="container">
    <h4><i>Analyte Information</i></h4>
    {% if sample.has_celltable and sample.celltable.analyte %}
    <div class="table-responsive" style="text-align:center;">        
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    {% for field in sample.celltable.analyte.get_fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for value in sample.celltable.analyte.get_values %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <h5><i class="text-warning">There is no Analyte information for this sample!</i></h5>
    {% endif %}
</div><br>
<!-- end of Analyte Information -->
  
<!-- Sequencing Information -->
<div class="container">
    <h4><i>Sequencing Information</i></h4>
    {% if sample.has_celltable and sample.celltable.sequencinginfo %}
    <div class="table-responsive" style="text-align:center;">
        <table class="table-striped table-bordered">
            <thead>
                <tr>
                    {% for field in sample.celltable.sequencinginfo.get_fields %}
                    <th>{{field}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for value in sample.celltable.sequencinginfo.get_values %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <h5><i class="text-warning">There is no sequencing information for this sample!</i></h5>
    {% endif %}
</div><br>
<!-- end of Sequencing Information -->
{% endblock %}



    