{% extends "base_view.html" %}
{% load staticfiles %}

{% block body %}
<!-- Header -->
<div class="container", style="background-color:#CDDC39; color:black; margin-bottom:5px; padding:5px;">
    <h1 style="float:left;">Sample Update</h1>
</div>
<!-- end of header -->

<div class="container" style="background-color:#eee;">
	<form action="{% url 'core:sample_update' pk=pk %}" method="POST">
		{% csrf_token %}
		<table class="table">
			{{form}}	
		</table>
	<input type="submit" name="update" value="update">
	</form>
</div>
{% endblock %}