{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
GSC submission Form
{% endblock %}

{% block body %}
<!-- Meta Information -->
<div class="container graybg">
    <form action="#" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Delivery Information</legend>
            <table class="table-condensed">
                {{ delivery_info_form }}
            </table>
        </fieldset><br>
        <fieldset>
            <legend>Sample Information</legend>
            <table class="table-condensed">
                {{ submitter_info_form }}
            </table>
        </fieldset><br>
        <input class="btn btn-primary btn-sm" type="submit" name="create" value="Create">
        <a class="btn btn-default btn-sm" href="{% url 'core:sequencing_detail' pk=pk%}">Back</a>
    </form>
</div><br>
<!-- end of Meta Information -->

{% endblock %}