{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Delete sequencing
{% endblock %}

{% block body %}
<div class="container">
    <h3>Do you want to detete sequencing <i>{{sequencing.library.sample.sample_id}}_{{sequencing.library.pool_id}}</i>?</h3>
    <form action="{% url 'core:sequencing_delete' pk=pk %}" method="POST">
    	{% csrf_token %}
        <input class="btn btn-danger btn-sm" type="submit" name="delete" value="Delete">
        <a class="btn btn-default btn-sm" href="{% url 'core:sequencing_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}