{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Edit Sequencing
{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'core:sequencing_update' pk=pk %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Sequencing Information</legend>
            <table class="table-condensed">
                <thead>
                {{form}}
                </thead>
            </table>
         </fieldset><br>
        <fieldset>
            <legend>Sequencing Details</legend>
            <table class="table-condensed">
                <thead>
                {{seqdetail_formset}}
                </thead>
            </table>
         </fieldset><br>
        <input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
        <a class="btn btn-default btn-sm" href="{% url 'core:sequencing_detail' pk=pk %}">Cancel</a>
    </form><br>
</div>
{% endblock %}