{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
Sequencing Details
{% endblock %}

{% block body %}
<!-- Meta Information -->
<div class="container card">
    <div style="float:right; margin-top:5px;">
        <select class="selectpicker" id="action">
        <option value="{% url 'core:sequencing_get_samplesheet' pk=sequencing.pk %}">Download SampleSheet</option>
        <option value="{% url 'core:sequencing_get_gsc_form' pk=sequencing.pk %}">Create GSC submission form</option>
      </select>
      <button class="btn btn-primary btn-sm" onclick="window.location.href=document.getElementById('action').value" class="btn btn-default">Go</button>
    </div>
    <table class="table-condensed">
        <tr>
            <th id="thid">Library:</th>
            <td id="tdid" class="notes"><a href="{{sequencing.library.get_absolute_url}}">{{sequencing.library}}</a></td>
        </tr>
        {% for field, value in sequencing.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid" class="notes">{{value}}</td>
        </tr>
        {% endfor %}
        <tr>
            <th id="thid">Relates to:</th>
            <td id="tdid">
            {% for seq in sequencing.relates_to.only %}
                <a href="{{seq.get_absolute_url}}">{{seq}}</a><br>
            {% endfor %}
            </td>
        </tr>
    </table>
</div><br>
<!-- end of Meta Information -->
    
<!-- Sequencing Detail -->
<div class="container">
    <h4>Sequencing Details</h4>
    {% if sequencing.has_sequencing_detail %}
    <table class="table-condensed">
        {% for field, value in sequencing.sequencingdetail.get_field_values.items %}
        <tr>
            <th id="thid">{{field}}:</th>
            <td id="tdid" class="notes">{{value}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h5><i class="text-warning">There is no sequencing details for this library!</i></h5>
    {% endif %}
</div><br>
<!-- end of Sequencing Detail -->

<!-- footer bottons -->
<div class="container" style="margin-bottom:5px;">
    <a class="btn btn-warning btn-sm" style="float:left; margin:5px;" href="{% url 'core:sequencing_update' pk=sequencing.pk %}">Edit</a>
    <a class="btn btn-danger btn-sm" style="float:left; margin:5px;" href="{% url 'core:sequencing_delete' pk=sequencing.pk %}">Delete</a>
    <a style="float:right; margin:5px;" href="{% url 'core:sequencing_list' %}">List of sequencings</a>
</div><br>
<!-- end of footer bottons -->

{% endblock %}



    