{% extends "base_view.html" %}
{% load staticfiles %}

{% block title %}
List of Sequencings
{% endblock %}

{% block body %}
<div class="container" style="padding:0; margin-bottom:5px;">
    <h4 style="float:left;">Select a sequencing to view its details</h4>
    <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'core:sequencing_create' %}">Add Sequencing</a>
</div>
<div class="container" style="background-color:#F5F5F5;">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>Chip ID</th>
                    <th>Submission date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sequencing in sequencings %}
                <tr>
                    <td><a href="{% url 'core:sequencing_detail' pk=sequencing.pk %}">{{sequencing.library.sample.sample_id}}</a></td>
                    <td>{{sequencing.library.pool_id}}</td>
                    <td>{{sequencing.submission_date}}</td>
                    <td>
                        <p style="float:right;"><a style="margin-right:2px;" href="{% url 'core:sequencing_update' pk=sequencing.pk %}"><i class="fa fa-pencil" aria-hidden="true" style="color:orange;" "></i> edit</a>
                        <a href="{% url 'core:sequencing_delete' pk=sequencing.pk %}"><i class="icon-remove-sign" style="color:red"></i> delete</a></p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}