<div class="status-header">
    <md-button>SAMPLE ID</md-button>
    <md-button>Description</md-button>
    <md-button>SAMPLE NAME</md-button>
    <md-button>DLP+</md-button>
    <md-button>Align</md-button>
    <md-button>hmmcopy</md-button>
    <md-button>pseudobulk</md-button>
</div>

<md-button disabled class="btn-small" style="color: black;">{% verbatim %}{{analysis.jira}}{% endverbatim %}</md-button>
<md-button disabled class="btn-small" style="color: black;">{% verbatim %}{{analysis.date}}{% endverbatim %}</md-button>
<md-button disabled class="btn-small" style="color: black;">{% verbatim %}{{analysis.lanes}}{% endverbatim %}</md-button>
<md-button disabled class="btn-small">DLP+</md-button>
<md-button disabled class="btn-small">Align</md-button>
<md-button disabled class="btn-small">hmmcopy</md-button>
<md-button class="md-primary btn-small">pseudobulk</md-button>      
<md-button
:class="sample.show ? 'collapsed' : null"
:aria-expanded="sample.show ? 'true' : 'false'"
:aria-controls="sample.name"
@click="sample.show = !sample.show">ID {% verbatim %}{{sample.id}}{% endverbatim %}</md-button>
<md-button disabled style="color: black;" >DEscription</md-button>
<md-button disabled style="color: black;">{% verbatim %}{{sample.name}}{% endverbatim %}</md-button>
<md-list slot="md-expand">
<b-collapse v-if="sample.show" :id="sample.name" v-model="sample.show" class="mt-2">
  <div v-if="sample.dlplibraries.length">
    <div v-for="library in sample.dlplibraries">

      <div v-if="library.analyses">
          <md-table md-card>
              <md-table-toolbar>
                <md-button disabled class="btn-small">Library</md-button>
                <md-button class="btn-small">{% verbatim %}{{library.library}}{% endverbatim %}</md-button>
              </md-table-toolbar>

              <md-table-row>
                <md-table-head>JIRA</md-table-head>
                <md-table-head>Submission</md-table-head>
                <md-table-head>Lanes</md-table-head>
                <md-table-head>DLP+</md-table-head>
                <md-table-head>Align</md-table-head>
                <md-table-head>hmmcopy</md-table-head>
                <md-table-head>pseudobulk</md-table-head>
              </md-table-row>
              
              <div v-for="analysis in library.analyses">
              </div>
          </md-table>
      </div>
      <div v-else>
        <md-button disabled class="btn-lrg">Np DLP Analysis on Library {% verbatim %}{{library.library}}{% endverbatim %}</md-button>
      </div>
    </div>
  </div>
  <div v-else>
    <md-button disabled class="btn-lrg">Np DLP Library</md-button>
  </div>
</b-collapse>
</md-list>

<div class="status-row">
    <md-button
    :class="sample.show ? 'collapsed' : null"
    :aria-expanded="sample.show ? 'true' : 'false'"
    :aria-controls="sample.name"
    @click="sample.show = !sample.show">ID {% verbatim %}{{sample.id}}{% endverbatim %}</md-button>
    <md-button disabled style="color: black;" >DEscription</md-button>
    <md-button disabled style="color: black;">{% verbatim %}{{sample.name}}{% endverbatim %}</md-button>

    <b-collapse v-if="sample.show" :id="sample.name" v-model="sample.show" class="mt-2">
      <div v-if="sample.dlplibraries.length">
        <div v-for="library in sample.dlplibraries">

          <div v-if="library.analyses">
              <md-table md-card>
                  <md-table-toolbar>
                    <md-button disabled class="btn-small">Library</md-button>
                    <md-button class="btn-small">{% verbatim %}{{library.library}}{% endverbatim %}</md-button>
                  </md-table-toolbar>

                  <md-table-row>
                    <md-table-head>JIRA</md-table-head>
                    <md-table-head>Submission</md-table-head>
                    <md-table-head>Lanes</md-table-head>
                    <md-table-head>DLP+</md-table-head>
                    <md-table-head>Align</md-table-head>
                    <md-table-head>hmmcopy</md-table-head>
                    <md-table-head>pseudobulk</md-table-head>
                  </md-table-row>
                  
                  <div v-for="analysis in library.analyses">
                  </div>
              </md-table>
          </div>
          <div v-else>
            <md-button disabled class="btn-lrg">Np DLP Analysis on Library {% verbatim %}{{library.library}}{% endverbatim %}</md-button>
          </div>
        </div>
      </div>
      <div v-else>
        <md-button disabled class="btn-lrg">Np DLP Library</md-button>
      </div>
    </b-collapse>
  </div>