{% extends "../vue/header.html" %}
{% load staticfiles %}

{% block body %}

<div id="app" class="centre-focus">
    <div >
        <div class="centre-focus">
          <div>
            <md-content class="sidemenu">
            </md-content>
          </div>
          <div >
            <md-content class="topmenu">
            </md-content>     
            <md-content class="maincontent">
            </md-content>
          </div>
        </div>
      </div>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
    },
    methods: {
      axiosGetSamples () {
        let token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxOCwidXNlcm5hbWUiOiJzc29uZyIsImV4cCI6MTU2Mjk3NTIyOCwiZW1haWwiOiIiLCJvcmlnX2lhdCI6MTU2MjM3MDQyOH0.OGyLNiP476J31Bs2zYuvRJVQO7vL4A3FIZARV_J-Cpo"
        let url = "http://127.0.0.1:8001/api/analysis/"
        axios
        .get(url,{
          headers : {
            Authorization : 'JWT ' + token
          }
        })
        .then(r => {
          resolve("success")
        })
        .catch(e => {
        })
      }
    },
    created () {
      console.log("CREATED")
      this.axiosGetSamples()
    },
  })
</script>

<style>
.topmenu {
  height: 50px;
  width:800px;  
  max-width: calc(100vw - 125px);
  display: flex;
  align-items: center;
}

.sidemenu {
  width: 260px;
  height: 68vh;
  max-width: calc(100vw - 100px);
  overflow-y : scroll;
}

.maincontent {
  height: calc(80vh - 49px);
  width:800px;  
  max-width: calc(100vw - 125px);
}

.centre-focus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: beige;
}

.md-content {
  
  z-index: 1;
  padding: 15px;
  margin: 0.2vh;
  position: relative;
}


</style>

{% endblock %}

