<md-table-row slot="md-table-row" slot-scope="{ item }" :style="item.imported">
    <md-table-cell class="ln140" md-label="Requested" >
      <div v-if="item.submission">
        {% verbatim %}{{item.submission}}{% endverbatim %}
      </div>
      <div v-else>None</div>                              
    </md-table-cell>
    <md-table-cell md-label="Updated">
      <div v-if="item.last_updated">
      {% verbatim %}{{item.last_updated}}{% endverbatim %}
      </div>
      <div v-else>None</div>   
    </md-table-cell>
    <md-table-cell style="min-width: 200px;" md-label="Sample ID">
      <a :href="returnURL('/core/sample',item.name)">
      {% verbatim %}{{item.name}}{% endverbatim %}
      </a>
    </md-table-cell>
    <md-table-cell md-label="Library">
      <div v-if="item.library">
        <a :href="returnURL('/dlp/library',item.library)">
        {% verbatim %}{{item.library}}{% endverbatim %}
        </a>
      </div>
      <b-badge variant="secondary" v-else>N/A</b-badge>
    </md-table-cell>                            
    <md-table-cell md-label="Analysis">
      <div v-if="item.jira">
        <a :href="returnJiraURL(item.jira)">
        {% verbatim %}{{item.jira}}{% endverbatim %}
        </a>
      </div>
      <b-badge variant="secondary" v-else>N/A</b-badge>
    </md-table-cell>
    <md-table-cell md-label="Montage">
      <div v-if="item.montage">
        <a :href="returnMontageURL(item.jira)"> Link </a>
      </div>
      <b-badge variant="secondary" v-else>N/A</b-badge>
    </md-table-cell>
    <md-table-cell  md-label="Version">
      <div v-if="item.version">
        {% verbatim %}{{item.version}}{% endverbatim %}
      </div>
      <b-badge variant="secondary" v-else>N/A</b-badge>
    </md-table-cell>
    <md-table-cell md-label="Aligner">
      <div v-if="item.aligner">
        {% verbatim %}{{item.aligner}}{% endverbatim %}
      </div>
      <b-badge variant="secondary" v-else>N/A</b-badge>
    </md-table-cell>
    <md-table-cell md-label="Lanes">  
      <div v-if="item.lanes" variant="primary">
        {% verbatim %}{{item.lanes}}{% endverbatim %}
      </div>
      <b-badge  variant="secondary" v-else>N/A</b-badge>
    </md-table-cell>
    <md-table-cell style="min-width: 180px;" md-label="Pipeline">
      <div>
        <b-badge :variant="item.pipeline.align">align</b-badge>
        <b-badge :variant="item.pipeline.hmmcopy">hmmcopy</b-badge>
        <b-badge :variant="item.pipeline.qc">QC</b-badge>
      </div>
    </md-table-cell>
    <md-table-cell md-label="Pseudobulk">
      <b-badge :variant="item.pipeline.pseudo">pseudobulk</b-badge>
    </md-table-cell>
</md-table-row>
