{% extends "../vue/header.html" %}
{% load staticfiles %}

{% block body %}

<div id="app">
    <div>
      HELLO WORLD
    </div>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      information: [{id: 3}]
    },
    methods: {
      axiosGetSamples () {
        let token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxOCwidXNlcm5hbWUiOiJzc29uZyIsImV4cCI6MTU2Mjk3NTIyOCwiZW1haWwiOiIiLCJvcmlnX2lhdCI6MTU2MjM3MDQyOH0.OGyLNiP476J31Bs2zYuvRJVQO7vL4A3FIZARV_J-Cpo"
        let url = "http://127.0.0.1:8001/api/analysis/"
        axios
        .get(url,{
          headers : {
            Authorization : 'JWT ' + token
          }
        })
        .then(r => {
          resolve("success")
        })
        .catch(e => {
        })
      }
    },
    created () {
      console.log("CREATED")
      this.axiosGetSamples()
    },
  })
</script>
{% endblock %}

