
<style>
    #app {
      height: 100vh;
    }
  
    .page-container {
      height: 100vh;
    }
  
     
    .md-drawer {
      width: 230px;
      max-width: calc(100vw - 125px);
      height: 100%;
    }
    
    .project-list {
      overflow: auto;
      height: calc(100% - 120px);
    }

    .project-list .md-list-item {
      margin: 0;
      height: 50px;
    }

    .ln140 {
      min-width: 140px;
    }
    .ln100 {
      min-width: 100px;
    }
    .ln120 {
      min-width: 120px;
    }
  
    .ln180 {
      min-width: 180px;
    }
    
    .md-table-cell {
      min-width: 140px;
    }

    .tag-list {
      height: calc(100vh - 160px);
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */
    }
    .tag-list::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
  
    .md-table-fixed-header {
      background-color: #eceff1;
    }

    .sample-table {
      overflow-x: auto;
    }  
  
  </style>
  