{% extends "../vue/header.html" %}
{% load staticfiles %}

{% block body %}
<div id="app">    
    <div class="page-container">
        <md-app md-mode="fixed">
          <md-app-toolbar md-elevation="0">
            <span class="md-title">Analysis Status {% verbatim %}{{selected_tag.title}}{% endverbatim %}</span>
            <md-button  @click="showDialog = true">Guide <md-icon>contact_support</md-icon></md-button>
            {% include "core/vue/status-tutorial.html" %}
            <md-button @click="showFilter =true">Filter <md-icon>filter_list</md-icon></md-button>
            <md-dialog :md-active.sync="showFilter">
                <md-dialog-title>Filter Table</md-dialog-title>
                <md-dialog-content> 
                  <div>
                      <md-field>
                        <label>Sample ID, Library ID or JIRA </label>
                        <md-input v-model="searchQuery.key"></md-input>
                      </md-field>
                      <md-datepicker v-model="searchQuery.submission">
                          <label>Submitted date</label>
                      </md-datepicker>
                      <md-datepicker v-model="searchQuery.updated">
                          <label>Updated date</label>
                      </md-datepicker>
                      
                      <p>Only Completed:</p>
                      <md-switch v-model="searchQuery.completed[0]">align</md-switch>
                      <md-switch v-model="searchQuery.completed[1]">hmmcopy</md-switch>
                      <md-switch v-model="searchQuery.completed[2]">qc</md-switch>
                      <md-switch v-model="searchQuery.completed[3]">pseudobulk</md-switch>
                    </div>
                  <md-dialog-actions>
                      <md-button class="md-primary" @click="resetFilter">Reset</md-button>
                      <md-button class="md-primary" @click="showFilter = false">Close</md-button>
                  </md-dialog-actions>
                </md-dialog-content>
            </md-dialog>
          </md-app-toolbar>
          
          <md-app-drawer md-permanent="full">
              <md-card class="pipeline-tag">
                  <md-card-content>
                  <md-field>
                    <label>Search by Title</label>
                    <md-input v-model="searchTag"></md-input>
                  </md-field>
                  </md-card-content>
                  <md-divider></md-divider>
                  <md-card-content class="tag-list">
                    <button class="project-button"  @click="fetchSamples()" squared><span>Wetlab</span></button>
                    <button v-for="tag in tags" @click="fetchSamples(tag)" class="project-button" squared><span>{% verbatim %}{{tag.title}}{% endverbatim %}</span></button>
                  </md-card-content>
                  <md-divider></md-divider>
                    <md-button @click="createTag()"><md-icon>add</md-icon></md-button>
                    <md-button @click="removeTag()"><md-icon>remove</md-icon></md-button>
                </md-card>
          </md-app-drawer>
    
          <md-app-content>
              <md-card style="width: 600px;">
                
              </md-card>
              <div class="main-content">
                  <br />
                  <div class="sample-table">
                      <b-button-group style="margin-top : 1px; height: 40px;">
                          <b-button squared class="menu-button" style="width:110px;">Submitted</b-button>
                          <b-button class="menu-button" style="width:130px;">Updated</b-button>
                          <b-button class="menu-button" style="width:140px;">sample ID</b-button>
                          <b-button class="menu-button" style="width:110px;">library ID</b-button>
                          <b-button class="menu-button" style="width:100px;">Analysis</b-button>
                          <b-button class="menu-button" style="width:100px;">Montage</b-button>
                          <b-button class="menu-button" style="width:100px;">Version</b-button>
                          <b-button class="menu-button" style="width:100px;">Aligner</b-button>
                          <b-button class="menu-button" style="width:100px;">Lanes</b-button>
                          <b-button class="menu-button" style="width:170px;">Pipeline</b-button>
                          <b-button squared id="pseudo" class="menu-button" style="width:110px;">Pseudobulk</b-button>
                      </b-button-group>
                    <div class="content-table">
                      <Row v-for="sample in rowDisplay" :sample="sample" />
                    </div>
                  </div>
                  <br />
                </div >
          </md-app-content>
        </md-app>
      </div>
  </div>
{% include "core/vue/status-row.html" %}
<script>
  var vm = new Vue({
    el: '#app',
    components:{
      Row
    },
    data: {
      showDialog: false,
      showFilter: false,
      searchQuery: {
        key : "",
        submission: null,
        updated: null,
        completed: [false, false, false, false]
      },
      username: "",
      password: "",
      samples: [],
      tags: [],
      selected_tag: "",
      montages: [],
      montage_ready: false,
      searchTag: "",
    },
    created () {
      this.tags = JSON.parse(unescape("{{tags| safe | escapejs}}"))
      this.username = "ssong"
      this.password = "Iamsuperstar1#"
      // this.username = "{{username| safe | escapejs}}"
      // this.password = "{{password| safe | escapejs}}"
      this.fetchSamples()
      this.axiosColossus({type : "fetchMontage"})
      .then((r) => {
        this.montage_ready=true
        this.montages = r
        this.updateSampleMontage()
      })
    },
    computed: {
      tagDisplay() {
        return this.tags.filter(tag => {return tag.title.toLowerCase().includes(this.searchTag.toLowerCase())})
      },
      rowDisplay() {
        return this.samples.filter(sample => {
          query = true
          if (this.searchQuery.submission)
            if(sample.submission) query &= (this.searchQuery.submission.toISOString().split('T')[0] === sample.submission)
            else return false
          if (this.searchQuery.updated)
            if(sample.last_updated) query &= (this.searchQuery.updated.toISOString().split('T')[0] === sample.last_updated)
            else return false
          if(this.searchQuery.key)
            query &= (sample.library + sample.name + ((sample.jira) ? sample.jira : "")).toLowerCase().includes(this.searchQuery.key.toLowerCase())
          if(this.searchQuery.completed[0]) query &= (sample.pipeline.align === "success")
          if(this.searchQuery.completed[1]) query &= (sample.pipeline.hmmcopy === "success")
          if(this.searchQuery.completed[2]) query &= (sample.pipeline.qc === "success")
          if(this.searchQuery.completed[3]) query &= (sample.pipeline.pseudo === "success")
          return query
        })
      }
    },
    methods: {  
      createTag(){window.location.href = "{% url 'core:pipeline_status_create' %}"},
      removeTag(){
        if(this.selected_tag){
          this.axiosColossus({type : "deleteTag", id : this.selected_tag.id}).then(r => console.log(r.data))
        }
      },
      resetFilter() {
        this.searchQuery = {
        key : "",
        submission: null,
        updated: null,
        completed: [false, false, false, false]}
      },
      sortBySubmissionDate(samples) {
        return samples.sort(function(a,b) {
          a = a.submission
          b = b.submission
          if (a && !b || !b && !a) return -1
          if (b && !a) return 1
          a_date = a.split("-")
          b_date = b.split("-")
          return  new Date(b_date[0],b_date[1]-1,b_date[2]) - new Date(a_date[0],a_date[1]-1,a_date[2]) 
        })
      },
      setRunStatus(status) {
        let variant = "secondary"
        let run_status = {
          dark: 'idle',
          info: 'running',
          primary: 'archiving',
          danger: 'error',
          success:'complete'}
        Object.entries(run_status).forEach(([key, val]) => {
          if(status.includes(val)) {
            variant = key
          }
        });
        return variant
      },
      fetchSamples (tag) {
        if (tag !== undefined) {
          var data =  {"type" : "fetchSample", "id" : tag.id}
          this.selected_tag = tag
        }
        else {
          this.selected_tag = {title : "wetlab"}
          var data =  {"type" : "fetchWetlab"}
        }
        this.axiosColossus(data)
        .then((r) => {
          this.samples = this.sortBySubmissionDate(r.samples)
          for (let i = 0; i < this.samples.length; i ++) {
            Vue.set(this.samples[i], "pipeline", {"qc":"secondary", "align": "secondary", "hmmcopy": "secondary", "pseudo": "secondary"})
            if(this.samples[i].jira) {
              this.axiosVerifyTantalus(this.samples[i])
              this.axiosVerifyColossus(this.samples[i])
              }
          }          
          if(this.montage_ready) this.updateSampleMontage()
        })
      },
      axiosVerifyColossus(sample){
        this.axiosColossus({"type" : "validateColossus", "id" : sample.jira})
        .then((r) => sample.imported = r ? "background-color: #c8e6c5" : "background-color: #f2f2f2")
      },
      axiosVerifyTantalus (sample) {
        jira = sample.jira
        library = sample.library
        let token = "JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxNiwidXNlcm5hbWUiOiJqcGhhbSIsImV4cCI6MTU2NDAwMTEzMSwiZW1haWwiOiIiLCJvcmlnX2lhdCI6MTU2MzM5NjMzMX0.DpU0SFgS390B1KCMKI3bUMVUwFocw3X-Qodlz8K848A"
        const url = "https://tantalus.canadacentral.cloudapp.azure.com/api/analysis/"        
        // Qc, hmmcopy and align 
        axios
        .get(url,{  params : {jira_ticket : jira}, auth: {username: this.username,password: this.password},})
        .then(r => {
          r.data.results.forEach(a => {
            atype = a.analysis_type
            status = a.status
            if (atype in sample.pipeline) sample["pipeline"][atype]= this.setRunStatus(status)
            })
            if ((sample.pipeline["align"] === "success") && (sample.pipeline["hmmcopy"] === "success")) sample["pipeline"]["qc"]= "success"
            if (sample.pipeline["qc"]=== "success"){
              sample.pipeline["align"] = "success"
              sample.pipeline["hmmcopy"] = "success"
            } 
          })
        .catch(e => {console.log(e.response)})

        // Pseudobulk
        axios
        .get(url,{auth: {username: this.username,password: this.password},
        params : {input_datasets__library__library_id : library, analysis_type__name: "pseudobulk"}})
        .then(r => {if(r.data.count > 0) sample["pipeline"]["pseudo"]= this.setRunStatus(status)})
        .catch(e => {console.log(e.response)})        
      },
      axiosColossus(data){
        return new Promise(function(resolve, reject) {
          axios({
                method: 'post',
                url: "{% url 'core:pipeline_status_request_handler' %}",
                dataType: "json",
                data: data,
                headers: {
                  "X-CSRFToken": Cookies.get('csrftoken'),
                  "content-type": "application/json"
                }}).then( (response) => resolve(response.data)).catch( (e) => reject(e))
        })
      },
      updateSampleMontage() {
        this.samples.forEach( sample => {
          if(this.montages.includes(sample.jira)) var montage = true
          else var montage = false
          Vue.set(sample,  "montage", montage)
        })
      },
      axiosVerifyMontage() {
        this.axiosColossus({type : "fetchMontage"})
        .then((r) => {
          this.montage_ready=true
          this.montages = r
          this.updateSampleMontage()
        })

      }
    },
  })
</script>
{% include "core/vue/status-page-style.html" %}
{% endblock %}
