

var Row =  {
  props: ['post'],
  template: `
    <div class="status-row">
      <md-button
      :class="sample.show ? 'collapsed' : null"
      :aria-expanded="sample.show ? 'true' : 'false'"
      :aria-controls="sample.name"
      @click="sample.show = !sample.show">ID {% verbatim %}{{show}}{% endverbatim %}</md-button>
      <md-button disabled style="color: black;" >DEscription</md-button>
      <md-button disabled style="color: black;">{% verbatim %}{{sample.name}}{% endverbatim %}</md-button>
      <md-button disabled>DLP+</md-button>
      <md-button disabled>Align</md-button>
      <md-button disabled>hmmcopy</md-button>
      <md-button class="md-primary">pseudobulk</md-button>
      <b-collapse :id="sample.name" v-model="show" class="mt-2">
        <b-card>I should start open!</b-card>
      </b-collapse>
    </div>
  `
})
</script>