{% extends "base_view.html" %}
{% load staticfiles %}
{% block title %}
    Analysis Information
{% endblock %}

{% block body %}
<div class="container graybg">
    <form action="{% url 'sisyphus:analysisinformation_create_from_library' from_library=library.pk %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Analysis Information</legend>
        <table class="table-condensed">
            <thead>
            {% for field in form %}
            <tr>
                <th>
                {{field.label}}
                </th>
                <td>
                {{ field.errors }}
                {% if field.name == "sequencings" %}
                    {%for f in field  %}
                        {% for key,value in lane.items %}
                            {% if f.choice_label == key %}
                                {{f}}
                                <ul>
                                    {{value|unordered_list}}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {{ field }}
                {% endif%}
                {% if field.help_text %}
                        <p class="helptext">{{ field.help_text }}</p>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </thead>
        </table>
     </fieldset>
    <button type="submit" name="create" value="CreateRun" class="btn btn-primary btn-sm">Create and run</button>
    <button type="submit" name="create" value="Create" class="btn btn-primary btn-sm">Create and run later</button>
    <a class="btn btn-default btn-sm" href="{% url 'sisyphus:analysisinformation_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}
