#display_page {
    position: relative;
    overflow:auto;
    padding: 10px;
    background-size: 1.75rem 1.75rem;
    background-image: radial-gradient(circle, #000000 1px, #fcfeff 1px);)
}

#info_page{
    background-color: #dce4e8;
    border-radius: 15px 15px 15px 15px;
}

.card-body {
    background-color: #dce4e8;
    margin: 10px;
    height: 80px;
    width: 220px;
    border-radius: 15px 15px 15px 15px;
}

